@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.not-found h1, .not-found p{
  margin: 20px;
}
header {
  position: sticky;
  z-index: 1000;
  top: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eee;
}
body.darkmode {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #111;
  color: #fff;
}
button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  transition: all 1.0s ease;
}
button:hover {
  background-color: #ccc;
}